<!DOCTYPE html>
<%
var baseUrl = '../';
var task = '06-01';
%>
<html>
<%- include(baseUrl + 'base.ejs', {parts: 'head', data: data, page: {task: task}}) %>
<body>
  <%- include(baseUrl + 'base.ejs', {parts: 'header', data: data, page: {task: task + ' タブ切り替え'} }) %>
<main id="task_<%= task %>">
    <nav>
        <ul class="list_tab">
            <li><a href="himawari">ひまわり</a></li>
            <li><a href="kannrannsha">観覧車</a></li>
            <li><a href="yakei">夜景</a></li>
        </ul>
    </nav>
    <article>
        <ul class="list_tab-panel">
            <li class="current" id="tab-panel_himawari"><img src="<%= baseUrl %>img/<%= task %>_himawari.jpg"></li>
            <li id="tab-panel_kannrannsha"><img src="<%= baseUrl %>img/<%= task %>_kannrannsha.jpg"></li>
            <li id="tab-panel_yakei"><img src="<%= baseUrl %>img/<%= task %>_yakei.jpg"></li>
        </ul>
    </article>
</main>
<%- include(baseUrl + 'base.ejs', {parts: 'footer', data: data}) %>
<script src="<%= baseUrl %>js/<%= task %>.js"></script>
</body>
</html>
