<!DOCTYPE html>
<%
var baseUrl = '../';
var task = '04-01';
%>
<html>
<%- include(baseUrl + 'base.ejs', {parts: 'head', data: data, page: {task: task}}) %>
<body>
  <%- include(baseUrl + 'base.ejs', {parts: 'header', data: data, page: {task: task + ' モーダル表示'} }) %>
<main id="task_<%= task %>">
    <button type="button" id="modalOpenBtn">開くボタン</button>
</main>
<%- include(baseUrl + 'base.ejs', {parts: 'footer', data: data}) %>
<script src="<%= baseUrl %>js/<%= task %>.js"></script>
</body>
</html>
