<!DOCTYPE html>
<%
var baseUrl = '../';
var task = '01-03';
%>
<html>
<%- include(baseUrl + 'base.ejs', {parts: 'head', data: data, page: {task: task}}) %>
<body>
  <%- include(baseUrl + 'base.ejs', {parts: 'header', data: data, page: {task: task + ' 大きさを変える アニメーション'} }) %>
<main id="task_<%= task %>">
    <div class="square">CSS版</div>
    <div class="square">JavaScript版</div>
</main>
<%- include(baseUrl + 'base.ejs', {parts: 'footer', data: data}) %>
<script src="<%= baseUrl %>js/<%= task %>.js"></script>
</body>
</html>
