<%
var taskName = '課題1';
var cssName = 'task1.css';
%>
<!DOCTYPE html>
<html>
<%- include('../base.ejs', {parts: 'head', page: {taskName: taskName, cssName: cssName}}) %>
<body>
<%- include('../base.ejs', {parts: 'header', page: {taskName: taskName}}) %>
<main>
    <form action="/" method="get">
        <dl id="task1_form-dl">
            <%
            var dls = [
                {
                    dt: 1,
                    dd: {
                        h2: 'ユーザー名',
                        input: {
                            type: 'text',
                            name: 'user',
                            value: '',
                            id: 'input-user'
                        },
                        option: ''
                    }
                },
                {
                    dt: 2,
                    dd: {
                        h2: 'パスワード',
                        input: {
                            type: 'password',
                            name: 'password',
                            value: '',
                            id: 'input-password'
                        },
                        option: ''
                    }
                },
                {
                    dt: 3,
                    dd: {
                        h2: '',
                        input: {
                            type: 'checkbox',
                            name: 'saveInfoCheck',
                            value: '',
                            id: 'input-save-info-check'
                        },
                        option: 'ログイン情報を記憶する'
                    }
                },
                {
                    dt: 4,
                    dd: {
                        h2: '',
                        input: {
                            type: 'submit',
                            name: 'login',
                            value: 'ログイン',
                            id: 'input-login'
                        },
                        option: ''
                    }
                },
                {
                    dt: 5,
                    dd: {
                        h2: '',
                        input: {
                            type: '',
                            name: '',
                            value: '',
                            id: ''
                        },
                        option: 'パスワードを忘れた場合はこちら'
                    }
                }
            ];
            dls.forEach(function (dlitem, index) {
                var itemDt = dlitem.dt;
                var itemDd = dlitem.dd;
            %>
            <dt><span><%= itemDt %></span></dt>
            <dd class="task1_form-dd-<%= index %>">
                <% if (itemDd.h2) { %>
                    <h2><label for="<%= itemDd.input.id %>"><%= itemDd.h2 %></label></h2>
                <% } %>
                <% if (itemDd.input.type) { %>
                    <input type="<%= itemDd.input.type %>" name="<%= itemDd.input.name %>" value="<%= itemDd.input.value %>" id="<%= itemDd.input.id %>">
                <% } %>
                <% if (itemDd.option) { %>
                    <% if (itemDt === 3) { %>
                        <label for="<%= itemDd.input.id %>"><%= itemDd.option %></label>
                    <% } %>
                    <% if (itemDt === 5) { %>
                        <a href="#"><%= itemDd.option %></a>
                    <% } %>
                <% } %>
            </dd>
            <% }); %>
        </dl>
    </form>
</main>
<%- include('../base.ejs', {parts: 'footer'}) %>
</body>
</html>
