<%
var taskName = '課題3';
var cssName = 'task3.css';
%>
<!DOCTYPE html>
<html>
<%- include('../base.ejs', {parts: 'head', page: {taskName: taskName, cssName: cssName}}) %>
<body>
<%- include('../base.ejs', {parts: 'header', page: {taskName: taskName}}) %>
<main>
    <hr noshade>
    <h2>この商品を買った人はこんな商品も買っています</h2>
    <ol class="task3_recommend-list-ol">
        <%
        var recommendList = {
            list: [
            {
                id: '01',
                name: '&lt;P&amp;G&gt;&nbsp;&quot;ヴィダルサスーン&nbsp;シャンプー&nbsp;ベースケアモイスチャーコントロール&quot;',
                link: '#',
                imgUrl: '../img/task3_recommendListImg.png',
                review: '1',
                price: '777'
            },
            {
                id: '02',
                name: '&lt;ユニリーバ&gt; &quot;mod&apos;s&nbsp;hair&nbsp;ホットケアシャンプー&quot;',
                link: '#',
                imgUrl: '../img/task3_recommendListImg.png',
                review: '2',
                price: '777'
            },
            {
                id: '03',
                name: '&lt;花王&gt;&nbsp;&quot;メリット&nbsp;ビュアイン&nbsp;シャンプー&nbsp;モイスチャー&quot;',
                link: '#',
                imgUrl: '../img/task3_recommendListImg.png',
                review: '3',
                price: '777'
            },
            {
                id: '04',
                name: '&lt;LION&gt;&nbsp;&quot;ソフトインワン&nbsp;シャンプー&nbsp;スッキリデオドラント&quot;',
                link: '#',
                imgUrl: '../img/task3_recommendListImg.png',
                review: '4',
                price: '777'
            },
            {
                id: '05',
                name: '&lt;資生堂&gt; &quot;TSUBAKI&nbsp;ダメージケア&nbsp;シャンプー&quot;',
                link: '#',
                imgUrl: '../img/task3_recommendListImg.png',
                review: '5',
                price: '777'
            }
            ]
        };
        recommendList.list.forEach(function (li) {
        %>
        <li>
            <a href="<%= li.link %>">
                <img src="<%= li.imgUrl %>" class="recommend-list-img">
                <p class="recommend-list-p"><%- li.name %></p>
                <div class="recommend-list-review review-<%= li.review %>">
                    <span><%= li.review %></span>
                </div>
                <div class="recommend-list-price">&yen;<%= li.price %></div>
            </a>
        </li>
        <% }); %>
    </ol>
    <hr noshade>
    <footer id="task3_footer">
        <small>&copy; 2017 &lt;Dr.シャンプー&gt;</small>
    </footer>
</main>
<%- include('../base.ejs', {parts: 'footer'}) %>
</body>
</html>
