<%
var taskName = '課題5';
var cssName = 'task5.css';
var table = [
    {
        title: '今月の支出',
        td: [
            {
                entry: '給与 夫(毎月25日)',
                value: 315908,
                payee: '住信SBI',
                payDate: '5/23'
            },
            {
                entry: '給与 妻(毎月25日)',
                value: 173099,
                payee: '住信SBI',
                payDate: '5/23'
            },
            {
                entry: '副収入',
                value: 15000,
                payee: '楽天銀行',
                payDate: '5/23'
            },
            {
                entry: '賞与 夫',
                value: 590000,
                payee: '楽天銀行',
                payDate: '6/10'
            },
            {
                entry: '',
                value: '',
                payee: '',
                payDate: ''
            },
            {
                entry: '収入合計',
                value: 1094997,
                payee: '',
                payDate: ''
            }
        ]
    },
    {
        title: '今月の貯蓄額',
        td: [
            {
                entry: 'セブン投信',
                value: 25000,
                payee: '三菱東京',
                payDate: '6/4'
            },
            {
                entry: 'ひふみ投信',
                value: 25000,
                payee: '三菱東京',
                payDate: '6/4'
            },
            {
                entry: '給料日貯蓄額',
                value: 100316,
                payee: '住信SBI',
                payDate: '5/25'
            },
            {
                entry: '賞与貯蓄額',
                value: 590000,
                payee: '住信SBI',
                payDate: '6/10'
            },
            {
                entry: '',
                value: '',
                payee: '',
                payDate: ''
            },
            {
                entry: '総貯蓄額',
                value: 740316,
                payee: '',
                payDate: ''
            }
        ]
    },
    {
        title: '今月の固定支出',
        td: [
            {
                entry: '電気代(3/19〜4/17)',
                value: 15000,
                payee: '住信SBI',
                payDate: '5/27'
            },
            {
                entry: '水道代(2/4〜4/1)',
                value: 10000,
                payee: '住信SBI',
                payDate: '5/27'
            },
            {
                entry: 'ガス代(3/11〜4/10)',
                value: 13000,
                payee: '住信SBI',
                payDate: '5/27'
            },
            {
                entry: '携帯代(3月分)',
                value: 5027,
                payee: '住信SBI',
                payDate: '5/27'
            },
            {
                entry: '生活費(4月分)',
                value: 115879,
                payee: '住信SBI',
                payDate: '5/27'
            },
            {
                entry: 'nanacoチャージ費(4月分)',
                value: 15000,
                payee: '住信SBI',
                payDate: '5/27'
            },
            {
                entry: '交通費(4月分)',
                value: 14516,
                payee: '住信SBI',
                payDate: '5/27'
            },
            {
                entry: 'カード払い計',
                value: 188422,
                payee: '',
                payDate: ''
            },
            {
                entry: '住宅ローン(6月分)',
                value: 77419,
                payee: '三菱東京',
                payDate: '5/26'
            },
            {
                entry: '管理・修繕費(6月分)',
                value: 33270,
                payee: '三菱東京',
                payDate: '5/27'
            },
            {
                entry: '学童費(毎月月末)',
                value: 6000,
                payee: '三菱東京',
                payDate: '6/1'
            },
            {
                entry: '保育園代(毎月月末)',
                value: 20020,
                payee: '三菱東京',
                payDate: '6/1'
            },
            {
                entry: '給食費(毎月20日)',
                value: 3560,
                payee: 'ゆうちょ銀行',
                payDate: '6/20'
            },
            {
                entry: '小遣い費(夫)',
                value: 25000,
                payee: '住信SBI',
                payDate: '5/25'
            },
            {
                entry: '小遣い費(妻)',
                value: 0,
                payee: '住信SBI',
                payDate: '5/25'
            },
            {
                entry: '',
                value: '',
                payee: '',
                payDate: ''
            },
            {
                entry: '支出合計',
                value: 353691,
                payee: '',
                payDate: ''
            }
        ]
    },
    {
        title: '今月の生活費（予算：12万円）',
        td: [
            {
                entry: '食費',
                value: 45000,
                budget: 50000,
                balance: 5000
            },
            {
                entry: '日用品費',
                value: 9480,
                budget: 10000,
                balance: 520
            },
            {
                entry: 'レジャー&外食費',
                value: 11251,
                budget: 10000,
                balance: -1251
            },
            {
                entry: '交通費',
                value: 9500,
                budget: 10000,
                balance: 500
            },
            {
                entry: '教育費',
                value: 8500,
                budget: 10000,
                balance: 1500
            },
            {
                entry: '医療費',
                value: 4500,
                budget: 5000,
                balance: 500
            },
            {
                entry: '被服費',
                value: 6689,
                budget: 5000,
                balance: -1689
            },
            {
                entry: '美容費',
                value: 2800,
                budget: 5000,
                balance: 2200
            },
            {
                entry: 'その他',
                value: 3500,
                budget: 5000,
                balance: 1500
            },
            {
                entry: 'お小遣い',
                value: 3000,
                budget: 10000,
                balance: 7000
            },
            {
                entry: '特別費',
                value: 4500,
                budget: 10000,
                balance: 5500
            },
            {
                entry: '',
                value: '',
                payee: '',
                payDate: ''
            },
            {
                entry: '',
                value: '',
                payee: '',
                payDate: ''
            },
            {
                entry: '',
                value: '',
                payee: '',
                payDate: ''
            },
            {
                entry: '',
                value: '',
                payee: '',
                payDate: ''
            },
            {
                entry: '',
                value: '',
                payee: '',
                payDate: ''
            },
            {
                entry: '生活費計',
                value: 108720,
                payee: '',
                payDate: ''
            }
        ]
    }
];
%>
<!DOCTYPE html>
<html>
<%- include('../base.ejs', {parts: 'head', page: {taskName: taskName, cssName: cssName}}) %>
<body>
<%- include('../base.ejs', {parts: 'header', page: {taskName: taskName}}) %>
<main>
    <section id="task5_wrap">
        <h2>2014年6月</h2>
        <article>
            <div class="table-wrap">
            <% table.forEach(function (tbody, tbodyIndex) { %>
            <% if (tbodyIndex === 2) { %>
            <div class="table-wrap">
            <% } %>
            <table id="task5_table-<%= tbodyIndex %>" cellspacing="0">
                <caption><%= tbody.title %></caption>
                <tbody>
                    <% if (tbodyIndex === 3) { %>
                    <tr>
                        <th>項目</th>
                        <th>金額</th>
                        <th>予算</th>
                        <th>残り</th>
                    </tr>
                    <% tbody.td.forEach(function (tRow, tRowIndex) { %>
                    <tr>
                        <td><% if (tRow.entry) { %><%= tRow.entry %><% } else { %>&nbsp;<% } %></td>
                        <td><% if (tRow.value) { %><%= tRow.value %><% } else { %>&nbsp;<% } %></td>
                        <td><% if (tRow.budget) { %><%= tRow.budget %><% } else { %>&nbsp;<% } %></td>
                        <td><% if (tRow.balance) { %><%= tRow.balance %><% } else { %>&nbsp;<% } %></td>
                    </tr>
                    <% }); %>
                    <% } else { %>
                    <tr>
                        <th>項目</th>
                        <th>金額</th>
                        <th>支払先</th>
                        <th>支払日</th>
                    </tr>
                    <% tbody.td.forEach(function (tRow, tRowIndex) { %>
                    <tr>
                        <td><% if (tRow.entry) { %><%= tRow.entry %><% } else { %>&nbsp;<% } %></td>
                        <td><% if (tRow.value) { %><%= tRow.value %><% } else { %>&nbsp;<% } %></td>
                        <td><% if (tRow.budget) { %><%= tRow.budget %><% } else { %>&nbsp;<% } %></td>
                        <td><% if (tRow.balance) { %><%= tRow.balance %><% } else { %>&nbsp;<% } %></td>
                    </tr>
                    <% }); %>
                    <% } %>
                </tbody>
            </table>
            <% if (tbodyIndex === 1) { %>
            </div>
            <% } %>
            <% }); %>
        </div>
        </article>
    </section>
    <nav>
        <h3>メニュー</h3>
        <ul>
            <li><a href="">収入</a></li>
            <li><a href="">新メンテナンス</a></li>
            <li><a href="">年間収支</a></li>
            <li><a href="">年払支出リスト</a></li>
            <li><a href="">住宅ローン返納計算書</a></li>
            <li><a href="">キャッシュフロー表</a></li>
        </ul>
    </nav>
</main>
<%- include('../base.ejs', {parts: 'footer'}) %>
</body>
</html>
