<!DOCTYPE html>
<%
var baseUrl = '../';
var task = '07-01';
%>
<html>
<%- include(baseUrl + 'base.ejs', {parts: 'head', data: data, page: {task: task}}) %>
<script type="text/javascript" src="https://maps.google.com/maps/api/js"></script>
<body>
  <%- include(baseUrl + 'base.ejs', {parts: 'header', data: data, page: {task: task + ' 住所や名前での場所検索'} }) %>
<main id="task_<%= task %>">
    <input type="search" id="address" name="address" value="">
    <button type="button" id="addressSearch">検索</button>
    <button type="button" id="deletePin">ピンを削除</button>
    <div id="map"></div>
</main>
<%- include(baseUrl + 'base.ejs', {parts: 'footer', data: data}) %>
<script src="<%= baseUrl %>js/<%= task %>.js"></script>
</body>
</html>
