<!DOCTYPE html>
<%
var baseUrl = '../';
var task = '02-01';
%>
<html>
<%- include(baseUrl + 'base.ejs', {parts: 'head', data: data, page: {task: task}}) %>
<body>
  <%- include(baseUrl + 'base.ejs', {parts: 'header', data: data, page: {task: task + ' デジタル時計'} }) %>
<main id="task_<%= task %>">
    <div class="clock">
        <div class="hour">00</div>
        <div>：</div>
        <div class="minutes">55</div>
        <div>：</div>
        <div class="second">23</div>
    </div>
</main>
<%- include(baseUrl + 'base.ejs', {parts: 'footer', data: data}) %>
<script src="<%= baseUrl %>js/<%= task %>.js"></script>
</body>
</html>
